*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15% ,rgba(216, 219, 214, 1)  15%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenitore{
    height: 90%;
    width: 80%;
    background-color: whitesmoke;
}

.col-4{
    background-color: whitesmoke;
    height: 90vh;
    overflow: auto;
}

.col-8{
    background-color: rgba(224, 216, 209, 1);
    height: 90vh;
    /* z-index: 1; */
}

.cardheader{
    background-color: rgba(234, 234, 234, 1);
}

.imglogo{
    width: 50px;
    border-radius: 50%;
}

.cardbell{
    background-color: rgba(142, 218, 252, 1);
}

.bell{
    background-color: white;
    border-radius: 50%;
}

.fa-bell-slash{
    font-size: 20px;
    color: rgba(142, 218, 252, 1);
}


.name{
    display: block;
}

.fa-solid{
    color: gray;
}

.bg-grey{
    background-color: rgba(234, 234, 234, 1);
}

.containerchat{
    /* z-index: 2; */
    height: 80vh;
}

.message{
    width: 30%;
    border-radius: 10px;
    margin: 5px 50px; 
}

.white{
    background-color: aliceblue;
}

.green{
    background-color: rgba(213, 249, 186, 1); 
    margin-left: auto;
}







